.carousel {
    width: 75%;
    overflow: hidden;
    position: relative;
  }
  
  .carousel-inner {
    display: flex;
    transition: transform 0.5s ease; /* Use a CSS transition for smooth sliding */
  }
  
  .carousel-item {
    flex: 0 0 16.66667%; /* Adjust this value based on your design */
    margin-right: 10px;
    transition: transform 0.5s ease; /* Use a CSS transition for smooth sliding */
  }
  